body {

    background-color: #1b6394;
}

h3 {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding-right: 20px;
    font-size: 28px;
}

h3:hover {
    color: #9bceef;
    cursor: pointer;
    font-size: 28px;
}

.right-signup {
    margin-left: 80px;
    max-width: 400px;
    margin-top: 18%;
    color: white;
    font-size: 18px;
}

#signUp {
    margin-top: 15px;
}

#loginbtn {
    margin-top: 20px;
}

#mainlogo{
    margin-top: 40%;
}

.btn {
    display: block;
    color: #1b6394;
    font-weight: bold;
    font-size: 18px;
}
