body {

    background-color: #1b6394;
    font-family: 'Droid Sans', sans-serif;
}

h3 {
    display: inline-block;
    text-transform: uppercase;
    color: #09fc05;
    font-size: 36px;
}

.right-signup {
    margin-left: 80px;
    max-width: 400px;
    margin-top: 18%;
    color: white;
    font-size: 18px;
}

#signUp {
    margin-top: 15px;
}

#mainlogo{
    margin-top: 40%;
}

.btn {
    display: block;
    color: #1b6394;
    font-weight: bold;
    font-size: 18px;
}

.btn:hover {
    color: violet;
}
