body {
    background-color: #1b6394;
    font-family: 'Droid Sans', sans-serif;
    position: relative;
    height: 130vh;
    width: 100vw;
}

#wrapper {
    height: 130vh;
    width: 100vw;
    background-image: url(/image/workoutback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
    z-index: 0;
    position: absolute;
}

#transparent {
    height: 130vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
}

.navbar-brand {
    height: 150px;
    width: auto;
    font-size: 30px;
}

.navbar {
    background-color: #1b6394;
    border: none;
    max-height: 150px;
    margin-bottom: 0;
}

#logout {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #09fc05;
}

.row {
    clear: both;
}

#headline h2 {
    font-size: 50px;
    color: white;
    text-decoration: underline;
}

#userInfo h2 {
    clear: both;
    font-size: 40px;
    color: violet;
    border: 2px solid deepskyblue;
    border-image:linear-gradient(to right, white, deepskyblue);
    border-image-slice: 1;
    padding: 5px 0;
}

#display h1 {
    text-transform: uppercase;
    color: #09fc05;
}

.progress {
    height: 40px;
}

.progress-bar {
    background-image: linear-gradient(to right, violet, deepskyblue, #09fc05);
    border-image-slice: 1;
}

.alert-success {
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(to right, deepskyblue, #09fc05);
    border-image-slice: 1;
    border-color: white;
}

.alert p {
    font-size: 24px;
}

.the-form {
    margin: 20px 0 0 50px;
}

#placeholder {
    height: 200px;
    width: auto;
}

#fileupload {
    color: white;
    margin-left: 290px;

}

#submit {
    margin-top: 15px;
    display: block;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background:white;
    color: #1b6394;
}

#net-cal-button {
    font-size: 24px;
    color: gray;
    background-color: violet;
    margin: 20px 0 0 0;
}


#net-cal {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    color: palevioletred;
}

#net-message {
    font-size: 18px;
    color: ivory;
}

.food {
    margin-top: 20px;
    border: 5px solid deepskyblue;
    border-image:linear-gradient(to right, violet, deepskyblue);
    border-image-slice: 1;
    height: 400px;
    width: 100%;
    text-align: center;
    color: white;
    overflow: scroll;
}

.food h3 {
    font-size: 30px;
    color: #09fc05;
}

.workout {
    border: 5px solid deepskyblue;
    border-image:linear-gradient(to right, deepskyblue, violet);
    border-image-slice: 1;
    height: 400px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: white;
    overflow: scroll;
}

.workout h3 {
    font-size: 30px;
    color: #09fc05;
}

.table th{
    text-transform: uppercase;
    font-size: 24px;
    color: violet;
    width: 310px;
}

.table tr {
    font-size: 22px;
    color: white;
    padding: 15px 0;
    border-bottom: 1px solid white;
}

footer {
    margin-top: 30px;
}

footer p {
    font-size: 18px;
    color: #09fc05;
}
